/*
[name]×ÏÉ«°®Áµ[/name]

*/

body { background: #899A33 url(images/body_bg.png) repeat 0 0; }
#hd { margin-top: 0px; width: 970px; height: 240px; border: none; background:  url(images/header.jpg) no-repeat 100% 0; }
	#hd h2 { padding: 100px 0 0 90px; color: #FFF; font-size: 23px; line-height: 115%; }
	
#ct, .n, t.w { background: #FFF url(images/ct-top.png)  repeat 0 0 !important; }

.block .title { border: none; background: url(images/title.png) repeat-x; 0 0; }

body#space #ft { background: url(images/ct-bottom.png) no-repeat 0 0; }
